<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Random json generator</title>
    <th:block th:replace='~{fragments/common :: commonHeader}'/>
</head>

<body>
<div class="flex-row">
    <button hx-target="#jsonProperties" hx-get="/hx/json-property/input" hx-swap="beforeend">+</button>
    <button onclick="removeLastChild('#jsonProperties')">-</button>
    <button hx-target="#result" hx-vals='js:{values: collectJsonProperties("#jsonProperties input")}' hx-post="/hx/json-generator/textarea">
        Generate
    </button>
</div>
<div id="jsonProperties"></div>
<div id="result">

</div>
<th:block th:replace='~{fragments/common :: commonBody}'/>
</body>
</html>
