<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>Random JSON Generator</title>
    <th:block th:replace='~{fragments/common :: commonHeader}'/>
</head>

<body>
<div class="flex-row">
    <button hx-target="#jsonProperties" hx-get="/hx/json-property/input" hx-swap="beforeend">+</button>
    <button onclick="removeLastChild('#jsonProperties')">-</button>
    <button hx-target="#result" hx-vals='js:{values: collectJsonProperties("#jsonProperties input")}' hx-get="/hx/json-generate/textarea">
        생성
    </button>
    <button hx-target="#index" hx-vals='js:{values: collectJsonProperties("#jsonProperties input")}' hx-post="/hx/save-properties/script">
        저장
    </button>
    <button hx-target="#jsonProperties" hx-vals="js:{id: $('#index option:selected').attr('data-val')}" hx-get="/hx/load-properties/textarea" hx-swap="innerHTML">
        불러오기
    </button>
    <div id="index" hx-get="/hx/json-property-index/options" hx-trigger="load"></div>
    <button hx-post="/hx/delete-json-property" hx-target="#index" hx-vals="js:{id: $('#index option:selected').attr('data-val')}">삭제</button>
</div>
<div id="jsonProperties"></div>
<div id="result">

</div>
<th:block th:replace='~{fragments/common :: commonBody}'/>
<th:block th:replace='~{fragments/common :: commonFooter}'/>
</body>
</html>
