<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>메인</title>
    <th:block th:replace='~{fragments/common :: commonHeader}'/>
</head>
<body>
<a th:href="@{/generator}" hx-boost="true">Random Json Generator</a><br>
<a th:href="@{/board}" hx-boost="true">게시판</a><br>
<span th:if="${#authentication.principal != 'anonymousUser'}">
    [[${#authentication.principal.user.username}]]님 어서옵쇼
</span>
<th:block th:replace='~{fragments/common :: commonBody}'/>
<th:block th:replace='~{fragments/common :: commonFooter}'/>
</body>
</html>
